@use "./colors" as *;
@use "./variables" as *;
@mixin borderstyle() {
  border: 2px solid $primary;
}
@mixin grid-layout($areas) {
  display: grid;
  grid-template-areas: $areas;
  grid-template-rows: 20vh 1fr 20vh;
  gap: 1rem;
}
@mixin handle-overflow($has-overflow) {
  @if $has-overflow {
    overflow: auto; // or 'scroll', 'hidden', etc.
    white-space: nowrap;
  } @else {
    overflow: visible;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
