@use "./colors" as *;

@mixin borderstyle() {
  border: 2px solid $primary;
  border-radius: 5px;
}
@mixin grid-layout($areas) {
  display: grid;
  grid-template-areas: $areas;
  grid-template-rows: 20vh 1fr 20vh;
  gap: 1rem;
}
