@use "../utils/mixins" as *;
@use "../layout/main.scss";
.card-div {
  box-sizing: border-box;
  @include borderstyle;
  padding: 1rem;
  margin: 1rem;
  height: 30rem;
  overflow-y: scroll;
  //flex
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
}

.event-card {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 200px;
}

.event-card h3 {
  font-size: 1.2em;
  color: #333;
}

.event-card p {
  font-size: 1em;
  color: #666;
}

.event-card a {
  font-size: 0.9em;
  color: #0066cc;
  text-decoration: none;
}

.event-card a:hover {
  text-decoration: underline;
}
