@use "../layout/main.scss";
#searchHistoryDiv {
  order: 2;
  box-sizing: border-box;
  flex-direction: column;
  width: 15rem;
  max-height: 30rem;
  padding: 1rem;
  margin: unset;
  overflow-y: scroll;
}
li {
  list-style: none;
}
ul:hover {
  cursor: pointer;
}

@media screen and (max-width: 485px) {
  #searchHistoryDiv {
    display: none;
  }
}
