@use "../utils/colors" as *;

footer {
  display: inline-block;
  flex-shrink: 0;
  background-color: $primary;
  height: 20vh;
  width: 100%;
  min-height: 15vh;
  padding-right: 1rem;
  text-align: end;
}
