@use "../utils/colors";
@use "../components/form.scss";
@use "../components/selectField.scss";
@use "../components/searchfield.scss";
@use "../utils/mixins" as *;
header {
  background-color: colors.$primary;
  margin: 0;
  padding: 1rem;
  text-align: center;
  height: 15vh;
  width: 100%;
  //flex
  @include flex-start;
  flex-direction: row;
  gap: max(25%);
  flex-wrap: wrap;
  @media screen and (max-width: 710px) {
    gap: 0;
    @include flex-center;
  }
}
header h1 {
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  margin-left: 1rem;
  justify-content: center;
  align-self: center;
  order: 1;
  color: colors.$secondary;
}
