@use "../../styles/base/index.scss";
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  background-color: blue;

  .form-Div {
    display: grid;
    grid-column: 2;
  }
}
